@use "../../styles/variables";
@use "../../styles/helpers";
@use "../../styles/box";

.d-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.d-layout__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.d-layout__top,
.d-layout__bottom {
  flex: 0 0 auto;
}

.d-layout__middle {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
}

.d-layout__left {
  border-right: 1px solid helpers.borderColor();
}

.d-layout__right {
  border-left: 1px solid helpers.borderColor();
}

.d-layout__top {
  border-bottom: 1px solid helpers.borderColor();
}

.d-layout__bottom {
  border-top: 1px solid helpers.borderColor();
}


.d-layout__left,
.d-layout__right {
  flex: 0 0 auto;
}

.d-layout__content {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}