@use "../../styles/variables";
@use "../../styles/helpers";
@use "../../styles/box";

.d-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .flex {
    width: 100%;
    height: 100%;
    gap: variables.$xs;
  }

  &__content {
    width: 100%;
  }
}