@use "../../styles/variables";
@use "../../styles/helpers";
@use "../../styles/box";

.d-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.d-layout__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.d-layout__top,
.d-layout__bottom {
  flex: 0 0 auto;
}

.d-layout__middle {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  width: 100%;
}

.d-layout__splitter {
  background: helpers.borderColor();
  position: relative;
  align-self: stretch;

  &[aria-orientation=vertical] {
    width: 1px;
    height: auto;
  }

  &[aria-orientation=horizontal] {
    width: 100%;
    height: 1px;
  }

}


.d-layout__left,
.d-layout__right {
  flex: 0 0 auto;
}

.d-layout__content {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}