@import "../../styles/helpers";

.dropdown {

  $color: $secondary;

  position: relative;
  width: fit-content;

  &__trigger {
    width: fit-content;
    position: relative;

    > * {
      margin: 0 !important;
    }
  }

  &__header {
    margin: -.5rem -.5rem .5rem -.5rem;
    padding: .5rem;
    border-bottom: 1px solid borderColor();

    > * {

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__footer {
    margin: .5rem -.5rem -.5rem -.5rem;
    padding: .5rem;
    border-top: 1px solid borderColor();

    > * {

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    position: relative;
    margin: -.5rem;
    padding: .5rem;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    border-top: 1px solid borderColor();
    border-bottom: 1px solid borderColor();

    @include background($color, true);

    &:first-of-type {
      border-top: none;
      margin-top: -.5rem;
    }

    &:last-of-type {
      border-top: none;
      border-bottom: none;
      margin-bottom: -.5rem;
    }
  }

  &__menu {
    @include box(false, $color);

    position: fixed;
    top: 0;
    word-break: break-word;
    left: 0;
    display: none;
    z-index: 99999;
    padding: .5rem;

    &--active {
      display: block;
    }


    &[data-align="start"] {
      right: auto;
      left: 0;
    }

    &[data-align="end"] {
      left: auto;
      right: 0;
    }

  }

}