@import "../../styles/helpers";
@import "../../styles/media";

.d-screen {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  * {
    box-sizing: border-box;
  }


  &__v-bar {
    width: 100%;
    position: relative;
    background: $primary;

    &--top {
      border-bottom: 1px solid borderColor();

      .d-screen__v-bar__resizable-label {
        &--top {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: translateX(-50%);
          bottom: 0;
        }

        &--bottom {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          transform: translateX(-50%) translateY(100%);
          bottom: 0;
        }
      }
    }

    &--bottom {
      border-top: 1px solid borderColor();

      .d-screen__v-bar__resizable-label {
        &--top {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: translateX(-50%) translateY(-100%);
          top: 0;
        }

        &--bottom {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          transform: translateX(-50%);
          top: 0;
        }
      }
    }

    &__resizable-label {
      @include box(false);
      position: absolute;
      z-index: 2;
      left: 50%;
      display: flex;
      transform: translateX(-50%);
      padding: .25rem;
    }

    .d-screen__button {
      writing-mode: unset !important;
    }

    > .d-screen__bar-content {
      width: 100%;
      height: 100%;
      padding: .5rem;
      overflow: auto;
      display: flex;
      gap: .5rem;
      align-items: start;


    }

  }


  &__h-bar {
    height: 100%;
    position: relative;
    background: $primary;

    &--left {
      border-right: 1px solid borderColor();

      .d-screen__h-bar__resizable-label {

        &--left {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          transform: translateY(-50%);
          right: 0;
        }

        &--right {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          transform: translateY(-50%) translateX(100%);
          right: 0;
        }
      }
    }

    &--right {
      border-left: 1px solid borderColor();

      .d-screen__h-bar__resizable-label {

        &--left {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          transform: translateY(-50%) translateX(-100%);
          left: 0;
        }

        &--right {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }

    &__resizable-label {
      @include box(false);
      position: absolute;
      top: 50%;
      display: flex;
      z-index: 2;
      transform: translateY(-50%);
      padding: .25rem;
    }

    .d-screen__button {
      writing-mode: vertical-rl;
    }

    > .d-screen__bar-content {
      overflow: auto;
      display: flex;
      gap: .5rem;
      padding: .5rem;
      height: 100%;
      width: 100%;
      position: relative;
      flex-direction: column;

    }
  }

  &__v-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
  }

  &__h-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__content {
    color: white;
    background: $primary;
    height: 100%;
    overflow: auto;
    width: 100%;
    position: absolute;
  }

  &__button {
    width: fit-content;
    gap: .25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__collapsable-item {
    @include box(true);
    width: fit-content;
    padding: .25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999999;
  }
}