@import "../../styles/helpers";
@import "../../styles/media";

.d-screen {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  * {
    box-sizing: border-box;
  }


  &__v-bar {
    width: 100%;
    position: relative;
    background: $primary;

    > .d-screen__bar-content {
      width: 100%;
      height: 100%;
      padding: .5rem;
      overflow: auto;
      display: none;
      align-items: center;
    }

    &--top {
      border-bottom: 1px solid borderColor();
    }

    &--bottom {
      border-top: 1px solid borderColor();
    }
  }


  &__h-bar {
    height: 100%;
    position: relative;
    background: $primary;

    .d-screen__item {
      writing-mode: vertical-rl;
    }

    > .d-screen__bar-content {
      overflow: auto;
      display: none;
      gap: .5rem;
      padding: .5rem;
      height: 100%;
      width: 100%;
      position: relative;
      flex-direction: column;
    }

    &--left {
      border-right: 1px solid borderColor();

      .d-screen__item {
        transform: rotate(-180deg);
      }
    }

    &--right {
      border-left: 1px solid borderColor();
    }
  }

  &__v-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
  }

  &__h-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__content {
    color: white;
    height: 100%;
    overflow: auto;
    width: 100%;
    position: absolute;
  }

  &__item {
    @include box(true);
    width: fit-content;
    padding: .25rem;
    font-size: .75rem;
    gap: .25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__collapsable-item {
    @include box(true);
    width: fit-content;
    padding: .25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }
}