@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.d-folder {
  padding: variables.$xxs variables.$xs;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: variables.$xxs;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  font-size: variables.$sm;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__root {
    padding: 0.7rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  & {
    @include helpers.borderRadius();
    @include box.boxHover(variables.$tertiary);
    @include helpers.fontStyle();
    box-shadow: none;
    background: transparent;
  }

  &[data-state=open] {
    @include box.boxActiveStyle(variables.$tertiary);
    box-shadow: none;
  }

  &__icon, &__status, &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    $spacing: variables.$xxs;

    margin-left: variables.$xs;
    position: relative;
    padding-left: calc(5px + $spacing);

    &:before {
      height: 100%;
      width: 2px;
      background: helpers.backgroundColor(variables.$tertiary);
      position: absolute;
      content: "";
      left: 5px;
    }
  }

  &__item {
    padding: variables.$xxs variables.$xs;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: variables.$xxs;
    align-items: center;
    cursor: pointer;
    font-size: variables.$sm;
    position: relative;
    margin: (variables.$xxs / 2) 0;

    & {
      @include helpers.borderRadius();
      @include box.boxHover(variables.$tertiary);
      @include box.boxActive(variables.$tertiary);
      @include helpers.fontStyle();
      box-shadow: none;
      background: transparent;
    }

    &-hover-card {
      @include box.box(variables.$tertiary);
      @include box.boxActiveStyle(variables.$tertiary);
      @include box.boxHover(variables.$tertiary);
      @include box.boxActive(variables.$tertiary);
      @include helpers.borderRadius();
      cursor: pointer;
    }

    &[data-state=open], &--active {
      @include box.boxActiveStyle(variables.$tertiary);
    }
  }
}