@import "../../styles/helpers";

.input {
  margin-bottom: 1rem;

  &:last-child, &:last-of-type {
    margin-bottom: 0;
  }

  &--disabled {
    pointer-events: none;
    opacity: 50%;
  }

  &__control {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    @include box();
  }

  &__label {
    color: rgba($white, .5);
    font-size: .75rem;
    font-family: Ubuntu, sans-serif;
    margin-bottom: .5rem;
    display: block;
    text-transform: uppercase;
  }

  &__field {
    position: relative;
    display: inline-block;
    background: none;
    width: 100%;
    color: rgba($white, .5);
    font-family: Ubuntu, sans-serif;
    border: none;
    outline: none;
    padding: .75rem .5rem;
    box-shadow: none;
    font-size: 1rem;

    &::placeholder {
      color: rgba($white, .25);
    }
  }

  &__icon {
    @include box(false);

    display: flex;
    width: 1rem;
    height: auto;
    justify-content: center;
    align-items: center;
    aspect-ratio: 50/50;
    padding: .25rem;
    margin-left: .5rem;
    pointer-events: none;

    > * {
      width: 1rem;
      height: 1rem;
    }

  }

  &__desc {
    padding-left: 1rem;
    color: rgba($white, .5);
    font-size: .75rem;
    font-family: Ubuntu, sans-serif;
    margin: .5rem 0;

    &:before {
      //tabler info icon as an svg component
      content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice" width="12" height="12" viewBox="0 -2 24 24" stroke-width="2" stroke="rgba(255, 255, 255, 0.5)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>');
      height: .75rem;
      width: .75rem;
      padding: .25rem 0;
      margin-right: .25rem;
    }
  }

  &__message {
    display: none;
    position: relative;
    color: rgba($white, .5);
    border-radius: $borderRadius;
    font-size: .75rem;
    z-index: -1;
    font-family: Ubuntu, sans-serif;

    > p {
      margin: 0;
      padding: .5rem .5rem .5rem 1rem;

      &:before {
        //tabler info icon as an svg component
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice" width="12" height="12" viewBox="0 -2 24 24" stroke-width="2" stroke="rgba(255, 255, 255, 0.5)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>');
        height: .75rem;
        width: .75rem;
        padding: .25rem 0;
        margin-right: .25rem;
      }
    }
  }

  &--not-valid {

    .input__control {
      border-color: borderColor(false);

      @include hoverAndActiveContent {
        border-color: borderColor(true);
      }

      @include activeContent {
        outline-color: $error;
      }
    }

    .input__message {
      display: block;
      background: rgba($error, .1);

    }
  }

  &--valid {

    .input__control {
      border-color: borderColor(false);

      @include hoverAndActiveContent {
        border-color: borderColor(true);
      }

      @include activeContent {
        outline-color: $success;
      }
    }

    .input__message {
      display: block;
      background: rgba($success, .1);

    }
  }
}