.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;

  + .row {
    margin-top: 1rem;
  }

  > * {
    flex-shrink: 0;
    max-width: 100%;
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    box-sizing: border-box;
  }
}