@use "../../styles/variables";
@use "../../styles/helpers";

.d-flow-suggestion-search-input {
  border: none !important;
  background: none !important;
  margin: -1 * variables.$xxs;
  padding-left: variables.$xxs;
  padding-right: variables.$xxs;
  border-radius: 0 !important;

  > input {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}