@use "../../styles/variables";
@use "../../styles/helpers";
@use "../../styles/box";

.d-flow-viewport-validations {
  padding: variables.$xxs;

  & {
    @include box.box(variables.$primary);
    @include helpers.borderRadius();
  }
}