.flow {
  .react-flow__node {
    background: transparent;
    padding: unset;
    box-shadow: none !important;
    border: none;
    border-radius: unset;
    color: unset;
    width: unset;
    font-size: unset;
    text-align: unset;
  }
}