@use "../../../styles/helpers";
@use "../../../styles/box";
@use "../../../styles/variables";

.d-folder {
  padding: variables.$xxs variables.$xs;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: variables.$xxs;
  cursor: pointer;
  font-size: variables.$sm;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & {
    @include helpers.borderRadius();
    @include box.box(variables.$primary);
    @include box.boxHover(variables.$secondary);
    @include helpers.fontStyle();
    box-shadow: none;
    background: variables.$primary;
  }


  &__icon, &__status, &__item-icon {
    color: variables.$info;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__status, &__item-icon {
    color: variables.$white;
  }

  &__content {
    margin-left: variables.$xs;
    position: relative;

    &:before {
      z-index: 10;
      height: 100%;
      width: 2px;
      background: helpers.backgroundColor(variables.$secondary);
      position: absolute;
      content: "";
      left: 5px;

    }
  }

  &__item {
    padding: variables.$xxs variables.$xs;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: variables.$xxs;
    align-items: center;
    cursor: pointer;
    font-size: variables.$sm;

    & {
      @include helpers.borderRadius();
      @include box.box(variables.$primary);
      @include box.boxHover(variables.$secondary);
      @include helpers.fontStyle();
      box-shadow: none;
      background: transparent;
    }
  }
}