@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

ul {
  list-style: none;
  margin: 0;
  margin-inline-start: 2px;
  margin-block-start: variables.$xxs;
  padding-inline-start: variables.$xxs;
  text-wrap: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: variables.$xxs;
}

li {

  --color: inherit;

  position: relative;
  padding-inline-start: variables.$xs;
  list-style: none;

  &:before {
    content: '';
    position: absolute;
    background: transparent;
    width: 0.7rem;
    left: -0.35rem;
    height: 20px;
    top: 5px;
    transform: translateY(-50%);
    border-left: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
    border-bottom-left-radius: 0.5rem;
  }

  &:not(:last-child):after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: var(--color);
    top: 0;
    left: -0.35rem;
  }
}

.rule {

  padding: variables.$xxs / 2 variables.$xxs;
  margin-left: -1 * variables.$xxs;
  width: calc(100% + (0.35rem));

  & {
    @include helpers.borderRadius();
    @include box.box(variables.$primary);
    @include box.boxHover(variables.$secondary);
    @include box.boxActive(variables.$secondary);
    @include helpers.fontStyle();
    box-shadow: none;
    //border-top: 1px solid helpers.borderColor();
    cursor: pointer;
  }
}