@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.badge {
  @include box.box();

  padding: variables.$xxs variables.$xs;
  display: inline-flex;
  font-size: variables.$xs;
  width: fit-content;
}

@each $name, $color in variables.$colors {
  .badge--#{$name} {
    @include box.box($color);
    @include helpers.borderRadius();
    font-size: variables.$xs;
  }
}