@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.badge {
  padding: variables.$xxs / 3 variables.$xxs;
  display: inline-flex;
  font-size: variables.$xs;
  width: fit-content;
  align-items: center;
  gap: variables.$xxs;
  height: fit-content;
  vertical-align: middle;

  & {
    @include helpers.fontStyle();
    @include helpers.borderRadius()
  }
}

@each $name, $color in variables.$colors {
  .badge--#{$name} {

    & {
      @include box.box($color, $color, $color);
    }
  }
}