@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.badge {
  padding: variables.$xxs / 3 variables.$xxs;
  display: inline-flex;
  font-size: variables.$xs;
  width: fit-content;
  align-items: center;
  gap: variables.$xxs;
  height: fit-content;
  vertical-align: middle;

  @if (var(--badge-color)) {
    background-color: var(--badge-color-background);
    box-shadow: inset 0 1px 1px 0 var(--badge-color-border);
    color: var(--badge-color);
  }

  & {
    @include helpers.fontStyle();
    @include helpers.borderRadius()
  }

  &--border {
    border: none !important;
  }
}

@each $name, $color in variables.$colors {
  .badge--#{$name} {

    & {
      @include box.box($color, $color, $color);
    }
  }
}

