@import "../../styles/helpers";
@import "../../styles/variables";

.badge {
  @include box(false);

  padding: .25rem;
  display: inline-flex;
  font-size: $xs;
  width: fit-content;
}

@each $name, $color in $colors {
  .badge--#{$name} {
    @include box(false, $color);
    font-size: $xs;
  }
}