.quote {

  &__text {
    &:after {
      right: 0;
      top: 0;
      position: relative;
      content: "\”";
    }
    &:before {
      right: 0;
      top: 0;
      position: relative;
      content: "\”";
    }
  }

  &__img {
    width: 2rem;
  }
}