.quote {

  position: relative;

  &__text {
    &:before, &:after {
      position: relative;
      content: "\â€";
    }
  }

  &__footer {
    display: flex;
    gap: .5rem;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
      gap: .25rem;
    }
  }

  &__img {
    height: 40px;
    //filter: brightness(0) invert(1);
  }
}