.quote {

  &__text {
    &:after {
      position: relative;
      content: "\”";
    }
    &:before {
      position: relative;
      content: "\”";
    }
  }

  &__img {
    margin-top: 1rem;
    width: 25%;
    filter: brightness(0) invert(1);
  }
}