@use "../../../styles/variables";
@use "../../../styles/helpers";
@use "../../../styles/box";

.d-flow-viewport-default-card {
  &__handle {
    border: none !important;
    padding: 1px;
    z-index: -1;
    opacity: 0;
  }

  &__inspection {
    top: 0;
    transform: translateY(-50%);
    padding: variables.$xxs;

    & {
      @include box.box(variables.$primary);
      @include helpers.borderRadius();
      position: absolute;
    }
  }

  &--active {
    box-shadow: 0 0 0 1px rgba(variables.$info, .5);
  }
}