@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.button {
  padding: variables.$xs variables.$md;
  gap: .5rem;
  cursor: pointer;
  height: fit-content;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  font-size: variables.$sm;

  @include helpers.disabled;

  & {
    @include helpers.borderRadius()
  }
}


@each $name, $color in variables.$colors {
  .button--#{$name} {
      @include box.box($color, variables.$white, variables.$white);
      @include box.boxHover($color, variables.$white, variables.$white);
      @include box.boxActive($color, variables.$white, variables.$white);

    &.button--outlined {
      background: transparent;
      //@include helpers.glassBox($color, variables.$white, $color);
    }

    &.button--none {
      background: transparent;
      box-shadow: none;
      //@include helpers.glassBoxWithoutShadowAndBorder($color, variables.$white, $color);
    }
  }
}
