@import "../../styles/helpers";

.button {
  @include box(true);


  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;

  @include disabled;

  &__icon + &__content {
    margin-left: .5rem;
    display: inline-block;
    position: relative;
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: color($white);
    cursor: pointer;


  }
}

@each $name, $font-size in $sizes {
  .button--#{$name} {
    font-size: $font-size;
    padding: $font-size / 2;

    .button__icon {
      width: $font-size;
      height: $font-size;

      > * {
        width: $font-size;
        height: $font-size;
      }
    }
  }
}

@each $name, $color in $variants {
  .button--#{$name} {
    @include box(true, $color);

    .button__icon {
      color: color($color);
    }

  }
}