@import "../../styles/helpers";

.button {
  padding: $xxs;
  gap: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;

  @include disabled;
}

@each $name, $color in $colors {
  .button--#{$name} {
    @include box(true, $color);

    &.button--outlined {
      border: 1px solid borderColor($color);
      background: transparent;

      &:hover, &:active, &--active, &:focus, &:focus-visible {
        border: 1px solid borderColor($color, true);
      }

      &:active, &--active, &:focus, &:focus-visible {
        border: 1px solid borderColor($color, true);
        background: backgroundColor($color, true);
      }
    }

    &.button--none {
      background: transparent;
      outline-color: transparent;

      &:hover, &:active, &--active, &:focus, &:focus-visible {
        background: backgroundColor($color, true);
      }
    }

  }
}