@import "../../styles/helpers";

.button {
  @include box(true);
  
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;

  @include disabled;

  &__icon + &__content {
    display: inline-block;
    position: relative;
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: color($white);
    cursor: pointer;


  }
}

@each $name, $font-size in $sizes {
  .button--#{$name} {
    font-size: $font-size;
    padding: $font-size / 2;

    .button__icon {
      width: $font-size;
      height: $font-size;

      > * {
        width: $font-size;
        height: $font-size;
      }
    }
  }
}

@function getMixedColor($color) {
  @return mix($bodyBg, if($color == $primary, $white, $color), if($color == $primary, 90%, 80%));
}

@each $name, $color in $variants {
  .button--#{$name} {
    @include box(true, $color);

    &.button--filled {
      border-color: transparent;

      &:active {
        @include border();
      }
    }

    &.button--outlined {
      background: transparent;
      border-color: getMixedColor($color);
      &:hover, &.button--none:hover {
        background: getMixedColor($color);
      }
      &:active, &.button--none:active {
        @include border();
      }
    }

    &.button--none {
      background: transparent;
      border-color: transparent;
      &:hover {
        background: getMixedColor($color);
      }
      &:active {
        @include border();
      }
    }

    .button__icon {
      color: color($color);
    }

  }
}