@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.button {
  padding: variables.$xs variables.$md;
  gap: .5rem;
  cursor: pointer;
  height: fit-content;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  font-size: variables.$sm;

  @include helpers.disabled;
}


@each $name, $color in variables.$colors {
  .button--#{$name} {
    @include box.box($color, variables.$white, $color);
    @include box.boxHover($color, variables.$white, $color);
    @include box.boxActive($color, variables.$white, $color);

    &.button--outlined {
      background: transparent;

      &:hover {
        @if ($color == variables.$primary) {
          border-color: rgba(variables.$secondary, 0.15);
        } @else {
          border-color: rgba($color, .15);
        }
      }

      &:active, &:focus, &[aria-selected=true], &[data-state=open] {
        @if ($color == variables.$primary) {
          border-color: rgba(variables.$secondary, 0.2);
        } @else {
          border-color: rgba($color, .2);
        }
      }
    }

    &.button--none {
      background: transparent;
      box-shadow: none;

      &:hover {
        background: helpers.backgroundColor($color, 1.5);
      }

      &:active, &:focus, &[aria-selected=true], &[data-state=open] {
        background: helpers.backgroundColor($color, 2);
      }
    }

    &.button--filled {
      box-shadow: none;
    }
  }
}

@each $name, $size in variables.$sizes {
  $keys: map-keys(variables.$sizes);
  $index: index($keys, $name);

  $next-size: if($index < length($keys), map-get(variables.$sizes, nth($keys, $index + 1)), $size);

  .button--#{$name} {
    padding: $size $next-size;
    border-radius: $next-size;
  }
}