@import "../../styles/variables";

.text {
  font-family: Ubuntu, sans-serif;
}

@each $name, $font in $sizes {
  .text--#{$name} {
    font-size: $font;
  }
}
@each $name, $opacity in $hierarchy {
  .text--#{$name} {
    color: rgba($white, $opacity);
  }
}

