@use "../../styles/variables";
@use "../../styles/helpers";

.text {
  font-family: "Inter", sans-serif;
  display: block;
  vertical-align: middle;

  & {
    @include helpers.fontStyle()
  }
}

@each $name, $font in variables.$sizes {
  .text--#{$name} {
    font-size: $font;
  }
}

@each $name, $opacity in variables.$hierarchy {
  .text--#{$name} {
    @if ($name == "primary") {
      font-family: "Inter", sans-serif;
    }
    color: rgba(variables.$white, $opacity);
  }
}

