@use "../../styles/variables";

.text {
  font-family: "Inter", sans-serif;
  display: block;
  vertical-align: middle;
}

@each $name, $font in variables.$sizes {
  .text--#{$name} {
    font-size: $font;
  }
}

@each $name, $opacity in variables.$hierarchy {
  .text--#{$name} {
    @if ($name == "primary") {
      font-family: "Inter", sans-serif;
    }
    line-height: 1.1;
    letter-spacing: -0.75px;
    color: rgba(variables.$white, $opacity);
  }
}

