@use "../../styles/variables";

.text {
  font-family: Arial, sans-serif;
}

@each $name, $font in variables.$sizes {
  .text--#{$name} {
    font-size: $font;
  }
}

@each $name, $opacity in variables.$hierarchy {
  .text--#{$name} {
    @if ($name == "primary") {
      font-family: "Arial Black", sans-serif;
      line-height: 1;
    }
    color: rgba(variables.$white, $opacity);
  }
}

