.file-input {

  &__item-group {
    margin: 0;
    padding: 0;
  }

  &__item-preview {
    max-width: 50px;
    max-height: 50px;
    width: 100%;  /* Optional: Damit das Div auch die 50px annimmt */
    height: 100%; /* Optional */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-preview-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}