@use "../../styles/helpers";
@use "../../styles/variables";
@use "../../styles/box";
@use "sass:math";

.input-wrapper {

  $padding: variables.$xs;
  display: flex;
  z-index: 1;
  width: 100%;
  align-items: start;
  box-sizing: border-box;
  gap: $padding / 4;

  & {
    @include box.box(variables.$tertiary, variables.$white, variables.$white);
    @include box.boxHover(variables.$primary, variables.$white, variables.$white);
    @include box.boxActive(variables.$primary, variables.$white, variables.$white);
    @include helpers.fontStyle();
    @include helpers.borderRadius();
  }

  &:has(&__control:focus) {
    @include box.boxActiveStyle(variables.$primary, variables.$white, variables.$white);
  }

  &--not-valid {
    @include box.box(variables.$error, variables.$white, variables.$error);
  }

  & > :first-child {
    padding-left: $padding;
  }

  &__left, &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    gap: $padding;
    margin: $padding / 4 $padding / 4;

    &--action {
      padding: 0;
    }

    &--placeholder {
      @include box.box(variables.$primary);
      @include helpers.fontStyle();
      border-radius: variables.$borderRadius - ($padding / 4);
      padding: $padding;
      box-shadow: none;
    }
  }

  &__left {
    &--icon {
      align-items: center;
    }
    &--placeholder {
    }
  }

  &__right {

    &--icon {
      align-items: center;
    }
  }

}