@import "../../styles/helpers";

.pill {
  display: inline-flex;
  margin: 0.2em;

  &__label {
    display: flex;
    align-items: center;
  }

  @each $name, $color in $variants {
    &--#{$name} {
      @include box(false, $color);
    }
  }

  @each $name, $font-size in $sizes {
    &--#{$name} {
      .pill__label {
        font-size: $font-size;
      }

      .pill__label--active {
        margin-right: $font-size / 2;
      }

      padding: $font-size / 2;
    }
  }

}

