@use "../../styles/helpers";
@use "../../styles/variables";
@use "../../styles/box";

.editor {
  position: relative;
  width: 100%;
  height: 100%;

  & {
    @include helpers.disabled()
  }

  &__control {
    @include helpers.disabled();

    > div {
      border: none;
      outline: none !important;
    }
  }

  &__diagnostics {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

}