@use "../../styles/helpers";
@use "../../styles/variables";
@use "../../styles/box";

.editor {
  position: relative;
  width: 100%;
  height: 100%;

  & {
    @include helpers.disabled()
  }

  &__control {
    @include helpers.disabled();

    > div {
      border: none;
      outline: none !important;
    }
  }

  &__diagnostics {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

}

.cm-tooltip.cm-tooltip-autocomplete {

  padding: variables.$xxs;
  position: relative;
  box-sizing: border-box;

  & {
    @include box.box(variables.$secondary);
    @include helpers.borderRadius();
    border: none;
    box-shadow: inset 0 1px 1px helpers.borderColor();
  }

  > ul {
    list-style: none;
    gap: 0;
    display: block;
  }

  > ul > li {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: variables.$xxs variables.$xxs !important;
    border-radius: variables.$borderRadius - (variables.$xxs) !important;
    cursor: pointer;
    width: 100%;
    font-size: variables.$xs !important;
    display: flex;
    align-items: center;
    gap: variables.$xxs;

    &::before {
      content: none;
      display: none;
    }

    & {
      @include box.box(variables.$secondary);
      @include helpers.noFocusStyle();
      @include helpers.fontStyle();
      @include helpers.disabled();
      border: none;
    }

    &[aria-selected]{
      border: none;
      background: helpers.backgroundColor(variables.$secondary, 1.5);
      width: 100%;
    }
  }
}

.cm-completionIcon {
  width: variables.$sm;
  height: variables.$sm;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;

  &::after, &::before {
    content: none !important;
  }
}

.cm-completionIcon-type {
  background-color: helpers.color();
  mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-circle-dot%22%3E%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M11%2012a1%201%200%201%200%202%200a1%201%200%201%200%20-2%200%22%20%2F%3E%3Cpath%20d%3D%22M3%2012a9%209%200%201%200%2018%200a9%209%200%201%200%20-18%200%22%20%2F%3E%3C%2Fsvg%3E");
}