@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.command {
  @include box.box(variables.$primary, variables.$primary, variables.$secondary);
  @include helpers.borderRadius();
  @include helpers.fontStyle();

  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  background: variables.$primary;

  &__dialog {
    padding: 0;
    border: none;
  }

  &__list {
    @include helpers.noFocusStyle();

    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__input {
    @include helpers.noFocusStyle();

    display: flex;
    height: 2rem;
    border-bottom: 1px solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: helpers.backgroundColor(variables.$white);
    background-color: transparent;
    color: helpers.color(variables.$white, variables.$hierarchySecondary);
    font-size: 0.875rem;
    margin: 0.25rem 0;
    padding-inline: 1rem;
    outline: none;


    &::placeholder {
      color: helpers.color(variables.$white, 25%);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__empty {
    padding: 1rem 0 1.5rem 0;
    text-align: center;
    font-size: 0.875rem;
    color: helpers.color(variables.$white, variables.$hierarchyTertiary);
  }

  &__group {
    overflow: hidden;
    padding: 0.5rem;
    color: helpers.color(variables.$white, variables.$hierarchyTertiary);
    font-size: variables.$xs;
  }

  &__item {
    position: relative;
    display: flex;
    cursor: default;
    gap: 0.5rem;
    user-select: none;
    align-items: center;
    border-radius: variables.$borderRadius - 0.375rem;
    padding: 0.375rem 0.5rem;
    font-size: 0.875rem;
    outline: none;
    color: helpers.color(variables.$white, variables.$hierarchySecondary);

    &[data-disabled='true'] {
      pointer-events: none;
      color: helpers.color(variables.$white, 25%);
    }

    &[data-selected='true'] {
      color: helpers.color(variables.$white, variables.$hierarchyPrimary);
      background: helpers.backgroundColor();
    }

    svg {
      pointer-events: none;
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
    }
  }

  &__separator {
    margin-inline: -0.25rem;
    height: 1px;
    background: helpers.backgroundColor(variables.$white);
  }

  &__shortcut {
    margin-left: auto;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    padding: 0 0.25rem;
    border-radius: 0.375rem;
    color: helpers.color(variables.$white, variables.$hierarchyTertiary);
    background: helpers.backgroundColor(variables.$primary);
  }
}