@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.command {
  @include box.box(variables.$primary, variables.$primary, variables.$secondary);
  @include helpers.borderRadius();
  @include helpers.fontStyle();

  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  background: variables.$primary;

  &cmdk-group-heading {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &cmdk-group:not([hidden]) {
    padding-top: 0;
  }

  &cmdk-group {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &cmdk-input-wrapper {
    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &cmdk-input {
    height: 3rem;
  }

  &cmdk-item {
    padding: 0.75rem 0.5rem;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &__list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__input {
    display: flex;
    height: 2rem;
    border-radius: variables.$borderRadius;
    background-color: transparent;
    font-size: 0.875rem;
    margin: 0.5rem;
    outline: none;

    &::placeholder {
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__empty {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
  }

  &__group {
    overflow: hidden;
    padding: 0.25rem;
    color: variables.$secondary;
    opacity: 0.5;
    font-size: variables.$xs;
    margin-left: 0.5rem;
  }

  &__item {
    position: relative;
    display: flex;
    cursor: default;
    gap: 0.5rem;
    user-select: none;
    align-items: center;
    border-radius: variables.$borderRadius;
    padding: 0.375rem 0.5rem;
    font-size: 0.875rem;
    outline: none;
    color: variables.$secondary;

    &[data-disabled='true'] {
      pointer-events: none;
      opacity: 0.5;
    }

    &[data-selected='true'] {
    }

    svg {
      pointer-events: none;
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
    }
  }

  &__separator {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    height: 1px;
    background: helpers.backgroundColor(variables.$white);
  }

  &__shortcut {
    margin-left: auto;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
  }
}