@use "../../styles/variables";
@use "../../styles/helpers";
@use "../../styles/box";

.d-flow-node {
  border: none;
  &__handle {
    border: none !important;
    padding: 1px;
    z-index: -1;
    opacity: 0;
  }

  &__inspection {
    top: 0;
    transform: translateY(-50%);
    padding: variables.$xxs;

    & {
      @include box.box(variables.$primary);
      @include helpers.borderRadius();
      position: absolute;
    }
  }

  &:after {
    content: "";
    position: absolute;
    inset: -1px;
    pointer-events: none;
    border-radius: variables.$borderRadius;
    background: linear-gradient(helpers.backgroundColor(variables.$secondary, 2), helpers.backgroundColor(variables.$primary, 1));
    z-index: -1;
  }

  &--active {
    box-shadow: 0 0 0 1px rgba(variables.$info, .5);
  }
}