@use "../../styles/helpers";
@use "../../styles/variables";
@use "../../styles/box";

.toast {

  padding: variables.$md;

  & {
    @include helpers.borderRadius();
    @include box.box(variables.$primary);
    @include helpers.fontStyle()
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    margin: variables.$xxs 0;
    box-sizing: border-box;
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
    gap: variables.$xxs;
  }

  &__icon {
    min-width: variables.$md;
    min-height: variables.$md;
  }

  &__dismissible {
    @include helpers.borderRadius();

    color: helpers.color(variables.$white);

    & {
      width: 1rem;
      height: 1rem;
      padding: .25rem;
      cursor: pointer;
      margin-left: .5rem;
    }

    > * {
      width: 1rem;
      height: 1rem;
    }
  }
}

@each $name, $color in variables.$colors {
  .toast--#{$name} {
    @include box.box($color);
  }
}