@use "../../styles/variables";
@use "../../styles/helpers";
@use "../../styles/box";
@use "sass:color";

.d-resizable {

  &__panel {
    color: white;
    position: relative;
    background: transparent;
    overflow: hidden;
    z-index: 0;

    & {
      border: none;
    }

  }

  &__handle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;

    &[aria-orientation=vertical] {
      width: 1px;
      height: 100%;
    }

    &[aria-orientation=horizontal] {
      height: 1px;
      width: 100%;
    }

    &[data-separator="hover"] {
      .d-resizable__handle-bar {
        background: helpers.backgroundColor(variables.$tertiary, 1.5);
      }
    }

    &[data-separator="active"] {
      .d-resizable__handle-bar {
        background: helpers.backgroundColor(variables.$tertiary, 2);
      }
    }

  }

  &__handle-bar {
    z-index: 1;
    position: relative;
    border-radius: variables.$xs;
    height: 10%;
    padding: .2rem;

    & {
      @include box.box(variables.$tertiary);
      @include box.boxHover(variables.$tertiary);
      @include box.boxActive(variables.$tertiary);
      box-shadow: none !important;
    }
  }
}

@each $name, $color in variables.$colors {
  .d-resizable__panel--#{$name} {
    & {
      background: helpers.backgroundColor($color);
      border: none;
    }
  }
}