@use "../../styles/variables";
@use "../../styles/helpers";
@use "../../styles/box";
@use "sass:color";

.d-resizable {

  &__panel {
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 0;

    & {
      @include box.box(variables.$primary);
      border: none;
    }

    &:has(.d-resizable__panel) {
      background: variables.$primary;
    }

  }

  &__handle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: helpers.backgroundColor(variables.$secondary);
    outline: none;

    &[aria-orientation=vertical] {
      width: 1px;
      height: 100%;
    }

    &[aria-orientation=horizontal] {
      height: 1px;
      width: 100%;
    }
  }

  &__handle-bar {
    z-index: 1;
    position: relative;
    border-radius: variables.$xs;
    height: 10%;
    padding: .2rem;

    & {
      @include box.box(variables.$secondary);
      @include box.boxHover(variables.$secondary);
      @include box.boxActive(variables.$secondary);
      border: none;
    }
  }


}