@use "variables";
@use "sass:color";
@use "helpers";

@mixin box(
  $background: variables.$secondary,
  $color: variables.$tertiary,
  $borderColor: variables.$secondary
) {

  $mixedBorderWhite: color.mix($borderColor, variables.$white, 25%);
  $mixedBorderBlack: color.mix($borderColor, variables.$black, 25%);

  background: helpers.backgroundColor($background);
  box-shadow: inset 0 1px 1px helpers.borderColor($borderColor);
  border: none;
  color: helpers.color($color, variables.$hierarchySecondary);
  position: relative;
  box-sizing: border-box;

}

@mixin boxHover(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {
  &:hover {
    background: helpers.backgroundColor($background, 1.5);
    box-shadow: inset 0 1px 1px helpers.borderColor($borderColor);
  }
}

@mixin boxActiveStyle(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {
  background: helpers.backgroundColor($background, 2);
  box-shadow: inset 0 1px 1px helpers.borderColor($borderColor);
  outline: none;
}

@mixin boxActive(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {

  &:active, &:focus, &[aria-selected=true], &[data-state=open] {
    @include boxActiveStyle($background, $color, $borderColor);
  }
}