@use "variables";
@use "sass:color";

@mixin box(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {

  $mixedBorderWhite: color.mix($borderColor, variables.$white, 25%);
  $mixedBorderBlack: color.mix($borderColor, variables.$black, 25%);

  border: none;
  background: color.mix($background, variables.$primary, 10%);
  color: rgba($color, .75);
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: variables.$sm;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px rgba($mixedBorderWhite, .1);
}

@mixin boxHover(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {
  $mixedBorderWhite: color.mix($borderColor, variables.$white, 25%);
  $mixedBorderBlack: color.mix($borderColor, variables.$black, 25%);

  &:hover {
    box-shadow: inset 0 0 0 1px rgba($mixedBorderWhite, .25);
  }
}

@mixin boxActive(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {
  $mixedBorderWhite: color.mix($borderColor, variables.$white, 25%);
  $mixedBorderBlack: color.mix($borderColor, variables.$black, 25%);

  &:active {
    box-shadow: inset 0 0 0 1px rgba($mixedBorderWhite, .05), inset 0 0 3rem 0 rgba($mixedBorderWhite, .1);
    outline: none;
  }
}