@use "variables";
@use "sass:color";
@use "helpers";

@mixin box(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {

  $mixedBorderWhite: color.mix($borderColor, variables.$white, 25%);
  $mixedBorderBlack: color.mix($borderColor, variables.$black, 25%);

  background: helpers.backgroundColor($background);
  border: 1px solid helpers.borderColor($borderColor);
  color: helpers.color($color, variables.$hierarchySecondary);
  position: relative;
  box-sizing: border-box;

}

@mixin boxHover(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {
  $mixedBorderWhite: color.mix($borderColor, variables.$white, 25%);
  $mixedBorderBlack: color.mix($borderColor, variables.$black, 25%);

  &:hover {
    border-color: rgba($mixedBorderWhite, .25);
  }
}

@mixin boxActiveStyle(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {
  $mixedBorderWhite: color.mix($borderColor, variables.$white, 25%);
  $mixedBorderBlack: color.mix($borderColor, variables.$black, 25%);

  border-color: rgba($mixedBorderWhite, .1);
  outline: none;
}

@mixin boxActive(
  $background: variables.$secondary,
  $color: variables.$secondary,
  $borderColor: variables.$secondary
) {

  &:active, &:focus {
    @include boxActiveStyle($background, $color, $borderColor);
  }
}