@use "sass:math";
@import "variables";

@mixin box($active: true, $color: $secondary) {

  background: rgba($color, 10%);
  border-radius: $borderRadius;
  color: rgba($white, .5);
  font-family: Ubuntu, sans-serif;
  font-size: $secondaryFontSize;
  border: 1px solid borderColor($color);
  position: relative;

  @if ($active == true) {
    &:hover, &:active, &--active {
      border: 1px solid borderColor($color, true);
    }

    &--active {
      outline: 1px solid $info;
      outline-offset: 2px;
    }

  }
}

@function borderColor($color: $white, $hover: false) {
  @return rgba($white, if($hover, 0.2, 0.1))
}