@use "sass:math";
@import "variables";

@mixin box($active: true, $color: $secondary) {

  background: rgba($color, 10%);
  border-radius: $borderRadius;
  color: rgba($white, .5);
  font-family: Ubuntu, sans-serif;
  font-size: $secondaryFontSize;
  border: 1px solid borderColor($color);
  position: relative;

  @if ($active == true) {
    @include hoverAndActiveContent {
      border: 1px solid borderColor($color, true);
    }

    @include activeContent {
      outline: 1px solid $info;
      outline-offset: 2px;
    }
  }
}

@mixin hoverAndActiveContent() {
  &:hover, &:active, &--active {
    @content
  }
}

@mixin activeContent() {
  &--active {
    @content
  }
}

@function borderColor($color: $white, $hover: false) {
  @return rgba($color, if($hover, 0.2, 0.1))
}
