@use "sass:math";
@use "sass:color";
@use "variables";

@mixin disabled() {
  &:disabled, &[data-disabled], &[aria-disabled=true], &--disabled {
    cursor: not-allowed;
    opacity: 25%;
    pointer-events: unset;
  }
}

@mixin borderRadius() {
  border-radius: variables.$borderRadius;
}

@mixin fontStyle() {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

@function borderColor($color: variables.$secondary) {
  @if($color == variables.$secondary) {
    @return rgba($color, .1);
  }
  @return rgba($color, .25);
}

@function color($color: variables.$white, $hierarchy: variables.$hierarchyTertiary) {
  @return rgba($color, $hierarchy);
}

@function backgroundColor($color: variables.$secondary) {
  @return color.mix($color, variables.$primary, 15%);
}

@mixin noFocusStyle() {
  &:focus {
    outline: none;
  }
}