$bodyBg: #030014;
$primary: #ffffff;
$secondary: #70ffb2;
$success: #29BF12;
$warning: #FFBE0B;
$error: #D90429;
$black: #000000;

//component styling
$borderRadius: .5rem;
$primaryFontSize: 1.25rem;
$secondaryFontSize: 1rem;
$tertiaryFontSize: .75rem;

$variants: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "warning": $warning,
        "error": $error
)
