//colors
$primary: #030014;
$secondary: #ffffff;
$info: #70ffb2;
$success: #29BF12;
$warning: #FFBE0B;
$error: #D90429;
$black: #000000;
$white: #ffffff;
$bodyBg: $primary;
//(font-)sizes

$xxs: 0.35rem;
$xs: 0.7rem;
$sm: 0.8rem;
$md: 1rem;
$lg: 1.2rem;
$xl: 1.3rem;

$hierarchyPrimary: 1;
$hierarchySecondary: 0.75;
$hierarchyTertiary: 0.5;

$sizes: (
        "xxs": $xxs,
        "xs": $xs,
        "sm": $sm,
        "md": $md,
        "lg": $lg,
        "xl": $xl,
);

$hierarchy: (
        "primary": $hierarchyPrimary,
        "secondary": $hierarchySecondary,
        "tertiary": $hierarchyTertiary,
);


//component styling
$borderRadius: $md;

$colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "warning": $warning,
        "error": $error,
        "info": $info
)
