@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";


.progress {

  & {
    @include box.box(variables.$primary);
    background: transparent;
    @include helpers.borderRadius();
    width: 100%;
    height: 10px;
    position: relative;
    transform: translateZ(0);
  }

  &:before {
    @include box.box(variables.$tertiary);
    background: var(--color);
    opacity: 0.1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__dot {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    right: calc(100% - (1% * (var(--progress, 0))));
  }

  &__indicator {
    position: absolute;
    background: var(--color);
    border-radius: inherit;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: calc(100% * (100 / var(--progress, 100))) 100%;
    width: 100%;
    height: 100%;
    z-index: 1;

    &--prediction {
      background: repeating-linear-gradient(
                      -45deg,
                      rgba(0,0,0,.25),
                      rgba(0,0,0,.25) 2.5px,
                      transparent 2.5px,
                      transparent 5px
      ), var(--color);
      z-index: 0;
      opacity: 0.25;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: calc(100% * (100 / var(--progressPrediction, 100))) 100%;
    }
  }
}