@use "../../styles/helpers";
@use "../../styles/variables";

.breadcrumb {
  display: flex;
  align-items: center;
  gap: variables.$xs;

  & {
    @include helpers.fontStyle();
  }

  &__splitter {
    color: variables.$secondary;
    display: flex;
  }
}