@import "../../styles/helpers";

.select {
  @include box(true);
  display: flex;
  padding: .5rem;
  cursor: pointer;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  &__item {
    @include box(false);
    padding: .5rem;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

    &[data-focus-visible], &[aria-selected=true], &:hover {
      background: mix($bodyBg, if($secondary == $primary, $white, $secondary), if($secondary == $primary, 90%, 80%));
    }

    &[aria-disabled=true] {
      opacity: 50%;
    }

  }

  &__separator {
    margin: .5rem -.5rem;
    color: rgba(white, .1);
    border-color: rgba(white, .1);
  }

  &__popover {
    @include box(false);
    padding: .5rem;
    margin-top: .5rem;
  }

  &__group-label {
    font-size: $xs;
    color: rgba(white, .25);
    margin-bottom: .5rem;
  }
}