@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";
@use "sass:math";

$padding: variables.$xl;

.card {

  display: block;
  padding: $padding;
  position: relative;
  font-size: variables.$sm;

  & {
    @include helpers.fontStyle();
  }

  > .card__section {
    > img { border-radius: math.div(variables.$borderRadius, 2); }

    /* erste Section */
    &:first-child {
      margin-top: 0;
    }
    &--border:first-child {
      padding-top: 0;
      border-top: none;
    }

    /* letzte Section: kein weiteres .card__section folgt */
    &:not(:has(~ .card__section)) {
      margin-bottom: 0;
    }
    &--border:not(:has(~ .card__section)) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  * {
    &.card__section > img {
      border-radius: math.div(variables.$borderRadius, 2);
    }
  }

  &__section {
    margin-bottom: $padding;
    margin-top: $padding;
    position: relative;

    &--border {
      margin-right: -1 * $padding;
      margin-left: -1 * $padding;
      padding: $padding;

      border-top: 1px solid helpers.borderColor();
      border-bottom: 1px solid helpers.borderColor();

      + .card__section--border {
        border-top: none;
        margin-top: -.5em;
      }
    }
  }

}

@each $name, $color in variables.$colors {
  .card--#{$name} {
    @include box.box($color);
    @include helpers.borderRadius();

    //variants

    &.card--none {
      background: transparent;
      border-color: transparent;
    }

    &.card--filled {
      border-color: transparent;
    }

    &.card--outlined {
      background: transparent;
    }

    //gradient

    &.card--gradient {

      @each $gradientName, $gradientColor in variables.$colors {
        &-#{$gradientName} {
          //box-shadow: inset 0 0 ($padding * 2) math.div($padding, 2) helpers.backgroundColor($gradientColor);
        }
      }
    }

  }

  .card--outline-#{$name} {
    outline-offset: $padding/2;
    margin: $padding/2;
    outline: helpers.borderColor($color) solid 1px;
  }

  .card--border-#{$name} {
    box-shadow: inset 0 0 0 1px helpers.borderColor($color);
  }

  .card--border--dashed {
    border-style: dashed;
  }
}