@import "../../styles/helpers";

.card {
  @include box(false);

  --padding: .5rem;

  padding: 0 var(--padding);
  width: 200px;

  > * {
    &:first-child {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }

    &:last-child {
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }

  &__img {
    margin: 0 calc(-1 * var(--padding));
    width: calc(100% + (var(--padding) * 2));
    object-fit: cover;
    padding: 0;

    &:last-child {
      margin-bottom: -4px !important;
    }
  }

  &__img + * {
    position: relative;
    margin-top: -4px !important;
  }

  &__header {
    margin: 0 calc(-1 * var(--padding));
    padding: var(--padding);
    border-bottom: 1px solid borderColor();

    &:last-child {
      border-bottom: 0;
    }

    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__footer {
    margin: 0 calc(-1 * var(--padding));
    padding: var(--padding);
    border-bottom: 1px solid borderColor();

    &:last-child {
      border-bottom: 0;
    }

    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    padding: 0;
    font-size: $primaryFontSize;
    color: rgba($secondary, 1);
    font-weight: 500;
    margin: 0 0 .5rem;
  }

  &__sub-title {
    padding: 0;
    font-size: $secondaryFontSize;
    color: rgba($secondary, .75);
    font-weight: 500;
    margin: 0 0 .5rem;
  }

  &__title + &__sub-title {
    margin-top: -.25rem;
  }

}