@import "../../styles/helpers";

$padding: $xs;

.card {

  display: block;
  padding: $padding;
  position: relative;

  * {

    &.card__section > img {
      border-radius: $borderRadius / 2;
    }

    &:first-child.card__section {
      margin-top: 0;

      &--border {
        padding-top: 0;
        border-top: none;
      }

    }

    &:last-child.card__section {
      margin-bottom: 0;

      &--border {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }

  &__section {
    margin-bottom: $padding;
    margin-top: $padding;
    position: relative;

    &--border {
      margin-right: -1 * $padding;
      margin-left: -1 * $padding;
      padding: $padding;

      border-top: 1px solid borderColor();
      border-bottom: 1px solid borderColor();

      + .card__section--border {
        border-top: none;
        margin-top: -.5em;
      }
    }
  }

}

@each $name, $color in $colors {
  .card--#{$name} {
    @include box(false, $color);

    //variants

    &.card--none {
      background: transparent;
      border-color: transparent;
    }

    &.card--filled {
      border-color: transparent;
    }

    &.card--outline {
      outline: 1px solid borderColor();
      outline-offset: $padding;
      margin: $padding;
    }

    &.card--outlined {
      background: transparent;
    }

    //gradient

    &.card--gradient {

      @each $firstGradientName, $firstGradientColor in $colors {

        @each $secondGradientName, $secondGradientColor in $colors {

          &--#{$firstGradientName}-#{$secondGradientName} {
            box-shadow: inset $padding $padding $padding (-1 * $padding) backgroundColor($firstGradientColor),
                        inset (-1 * $padding) (-1 * $padding) $padding (-1 * $padding) backgroundColor($secondGradientColor);
          }

        }
      }
    }

  }

  .card--border-#{$name} {
    border-color: borderColor($color);
  }
}