@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";
@use "sass:math";

.card {
  display: block;
  position: relative;
  font-size: variables.$sm;

  & {
    @include helpers.fontStyle();
  }

  > .card__section {
    > img {
      border-radius: math.div(variables.$borderRadius, 2);
    }

    &--border:first-child {
      margin-top: calc(-1 * var(--padding));
      border-top: none;
    }

    &--border:not(:has(~ .card__section)) {
      margin-bottom: calc(-1 * var(--padding));
      border-bottom: none;
    }
  }

  * {
    &.card__section > img {
      border-radius: math.div(variables.$borderRadius, 2);
    }
  }

  &__section {
    position: relative;
    box-sizing: border-box;

    &--border {
      margin-right: calc(-1 * var(--padding));
      margin-left: calc(-1 * var(--padding));
      padding: var(--padding);

      border-top: 1px solid helpers.borderColor();
      border-bottom: 1px solid helpers.borderColor();

      + .card__section--border {
        border-top: none;

      }
    }

    &--hover {
      cursor: pointer;
      &:hover {
        background: rgba(helpers.backgroundColor(variables.$secondary), .25);
      }
      &:first-child {
        border-top-left-radius: variables.$borderRadius;
        border-top-right-radius: variables.$borderRadius;
      }

      &:last-child {
        border-bottom-left-radius: variables.$borderRadius;
        border-bottom-right-radius: variables.$borderRadius;
      }
    }
  }

}

@each $name, $color in variables.$colors {
  .card--#{$name} {
    @include box.box($color);
    @include helpers.borderRadius();

    //variants

    &.card--none {
      background: transparent;
      border-color: transparent;
    }

    &.card--filled {
      border-color: transparent;
    }

    &.card--outlined {
      background: transparent;
    }

    //gradient

    &.card--gradient {

      @each $gradientName, $gradientColor in variables.$colors {
        &-#{$gradientName} {
          //box-shadow: inset 0 0 ($padding * 2) math.div($padding, 2) helpers.backgroundColor($gradientColor);
        }
      }
    }

  }

  .card--outline-#{$name} {
    outline-offset: calc(var(--padding) / 2);
    margin: calc(var(--padding)/2);
    outline: helpers.borderColor($color) solid 1px;
  }

  .card--border-#{$name} {
    box-shadow: 1px solid helpers.borderColor($color);
  }

  .card--border--dashed {
    border-style: dashed;
  }
}

@each $name, $size in variables.$sizes {
  .card--#{$name} {
    --padding: #{$size};
    padding: var(--padding);
  }
}