@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.file-tabs {

  position: relative;
  width: 100%;
  height: 100%;

  &__list {

    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: variables.$xs;

    &-content {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      flex-wrap: nowrap;
      gap: variables.$xxs;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
      &::-webkit-scrollbar {
        display: none; /* Older Safari and Chromium */
      }
    }
  }

  &__trigger {

    padding: variables.$xxs variables.$xs;
    display: flex;
    gap: variables.$xxs;
    align-items: center;
    text-wrap: nowrap;
    margin-bottom: 1px;
    cursor: pointer;

    & {
      @include box.box(variables.$primary);
      @include box.boxHover(variables.$primary, variables.$primary, variables.$primary);
      @include helpers.borderRadius();
      @include helpers.fontStyle();
      background: transparent;
      border: none;
    }

    &[data-state="active"] {
      @include box.boxActiveStyle(variables.$secondary);
      border: none;
    }

  }

  &__trigger-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem;
    cursor: pointer;
    font-size: unset;

    & {
      @include box.boxHover(variables.$primary);
      @include helpers.borderRadius();
    }
  }

  &__content {
    padding: variables.$xs;
    position: relative;
  }

}