@use "../../styles/helpers";
@use "../../styles/variables";

.alert {
  padding: .5rem;
  margin-bottom: 1rem;

  &__heading {
    font-weight: 500;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    margin: .5rem -.5rem -.5rem -.5rem;
    padding: .5rem;
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    color: helpers.color(variables.$white);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;

    > * {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__dismissible {
    @include helpers.box();

    & {
      width: 1rem;
      height: 1rem;
      padding: .25rem;
      cursor: pointer;
      margin-left: .5rem;
    }

    > * {
      width: 1rem;
      height: 1rem;
    }
  }
}

@each $name, $color in variables.$colors {
  .alert--#{$name} {
    @include helpers.box(false, $color);

    .alert__icon {
      color: helpers.color($color);
    }

    .alert__content {
      border-top: 1px solid helpers.borderColor();
    }

    .alert__dismissible {
      @include helpers.box(true, $color);
    }

  }
}