@use "../../../styles/helpers";
@use "../../../styles/media";
@use "../../../styles/variables";

.d-split-pane {
  overflow: scroll;
  background: variables.$primary;


  &--horizontal {
    height: 100%;
  }

  &--vertical {
    width: 100%;
  }
}