@import "../../styles/helpers";

.d-folder {
  @include box();
  background: $primary;
  padding: $xxs;
  display: flex;
  white-space: nowrap;
  gap: $xs;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__icon {
    color: $info;
  }

  &__content {
    margin-left: $xs;
    position: relative;

    &:before {
      z-index: 10;
      height: 100%;
      width: 1px;
      background: backgroundColor($secondary);
      position: absolute;
      content: "";
      left: 0;

    }
  }
}

.d-folder-item {
  @include box();
  background: $primary;
  padding: $xxs;
  display: flex;
  white-space: nowrap;
  gap: $xs;
}