@import "../../styles/helpers";

.d-folder {
  @include box();
  background: $primary;
  padding: $xxs;
  display: flex;
  white-space: nowrap;
  gap: $xs;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  &__icon {
    color: $info;
  }

  &__content {
    padding-left: $xs;
  }
}

.d-folder-item {
  @include box();
  background: $primary;
  padding: $xxs;
  display: flex;
  white-space: nowrap;
  gap: $xs;
}