@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.menu {
  padding: variables.$xxs;
  position: relative;
  box-sizing: border-box;
  z-index: 100;

  & {
    @include box.box(variables.$primary, variables.$primary, variables.$primary);
    @include helpers.borderRadius();
  }

  &__item {
    border-radius: variables.$borderRadius - variables.$xxs;
    padding: variables.$xxs variables.$xs;
    gap: variables.$xs;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;

    & {
      @include box.box(variables.$primary, variables.$white, variables.$primary);
      box-shadow: none;
    }

    &[data-focus-visible], &[aria-selected=true], &:hover {
      @include box.box(variables.$white, variables.$white, variables.$white);
      box-shadow: none;
      width: 100%;
    }

    &[aria-disabled=true] {
      opacity: 50%;
    }
  }

  &__separator {
    border: none;
    margin: variables.$xxs 0;
    color: rgba(white, .1);
    height: 1px;
    background-color: rgba(white, .1);
  }
}