@use "../../styles/helpers";
@use "../../styles/variables";

.menu {
  @include helpers.box(false);
  padding: variables.$xxs;

  &__item {
    @include helpers.box(false);
    border-radius: variables.$borderRadius - variables.$xxs;
    padding: .5rem;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

    &[data-focus-visible], &[aria-selected=true], &:hover {
      background: helpers.backgroundColor(variables.$secondary, true);
    }

    &[aria-disabled=true] {
      opacity: 50%;
    }
  }

  &__separator {
    border: none;
    margin: variables.$xxs (-1 * variables.$xxs);
    color: rgba(white, .1);
    height: 1px;
    background-color: rgba(white, .1);
  }
}