@use "../../styles/helpers";
@use "../../styles/variables";

.menu {
  @include helpers.glassBoxTransparent(variables.$primary, variables.$primary, variables.$secondary);
  @include helpers.borderRadius();
  padding: variables.$xs;
  position: relative;
  box-sizing: border-box;
  z-index: 100;

  &__item {
    @include helpers.glassBoxWithoutShadowAndBorder(variables.$white, variables.$white, variables.$white);
    border-radius: variables.$borderRadius - variables.$xxs;
    padding: variables.$xxs variables.$xs;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: variables.$xs;
    align-items: center;

    &[data-focus-visible], &[aria-selected=true], &:hover {
      @include helpers.glassBoxWithoutShadowAndBorder(variables.$white, variables.$white, variables.$white);
      width: 100%;
    }

    &[aria-disabled=true] {
      opacity: 50%;
    }
  }

  &__separator {
    border: none;
    margin: variables.$xxs 0;
    color: rgba(white, .1);
    height: 1px;
    background-color: rgba(white, .1);
  }
}