@use "../../styles/helpers";
@use "../../styles/media";
@use "../../styles/box";
@use "../../styles/variables";
@use "sass:color";

.dialog {
  @include box.box(variables.$primary, variables.$primary, variables.$secondary);
  @include helpers.borderRadius();

  backdrop-filter: none;
  -webkit-backdrop-filter: none;

  position: relative;
  padding: variables.$xl;
  margin: auto;
  overflow: auto;
  inset: auto;
  height: fit-content;
  max-height: none;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    display: grid;
    width: 100%;
    max-width: calc(100% - 2rem);
    gap: 1rem;
    transform: translate(-50%, -50%);
    border: 1px solid helpers.borderColor();
    padding: 1rem;
    background: variables.$primary;
    color: variables.$secondary;

    @include helpers.borderRadius();

    @include media.respond-above(md) {
      width: 420px;
    }
  }

  &__title {
    @include helpers.fontStyle();
    font-weight: 600;
    font-size: variables.$lg;
    color: variables.$secondary;
    margin: 0;
  }

  &__description {
    @include helpers.fontStyle();
    font-size: variables.$sm;
    color: variables.$secondary;
    margin: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    @media (min-width: 640px) {
      text-align: left;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;

    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 0.125rem;
    border: none;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    background: none;
    color: variables.$secondary;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      pointer-events: none;
    }

    svg {
      pointer-events: none;
      flex-shrink: 0;
    }

    svg:not([class*="size-"]) {
      width: 1rem;
      height: 1rem;
    }
  }
}