@use "../../styles/helpers";
@use "../../styles/media";
@use "../../styles/variables";

.dialog {
  @include helpers.box(false);
  z-index: 100;

  position: relative;
  padding: .5rem;
  margin: auto;
  overflow: auto;
  inset: auto;
  height: fit-content;
  max-height: none;

  @include media.respond-above(md) {
    width: 420px;
  }

  &__header {
    position: relative;
    margin: -0.5rem;
    padding: .5rem;
    border-bottom: 1px solid helpers.borderColor();
    background: helpers.backgroundColor(variables.$secondary);
  }

  &__footer {
    position: relative;
    margin: -0.5rem;
    padding: .5rem;
    border-top: 1px solid helpers.borderColor();
    background: helpers.backgroundColor(variables.$secondary);
  }

  &__wrapper {
    scroll-padding-top: 4rem;
    position: fixed;
    z-index: 100;
    overflow: auto;
    padding: 4rem 1rem;
    inset: 0;
  }
}

[data-backdrop] {
  background-color: rgba(variables.$primary, .2);
  -webkit-backdrop-filter: blur(.1rem);
  backdrop-filter: blur(.1rem);
}