@use "../../styles/helpers";
@use "../../styles/media";
@use "../../styles/variables";
@use "sass:color";

.dialog {
  @include helpers.glassBoxTransparent(variables.$white, variables.$white, variables.$white);
  @include helpers.borderRadius();

  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  z-index: 100;

  position: relative;
  padding: variables.$xl variables.$xs;
  margin: auto;
  overflow: auto;
  inset: auto;
  height: fit-content;
  max-height: none;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    backdrop-filter: blur(variables.$xs);
  }


  @include media.respond-above(md) {
    width: 420px;
  }

  &__header {
    position: relative;
    margin: -0.5rem;
    padding: .5rem;
    border-bottom: 1px solid helpers.borderColor();
    background: helpers.backgroundColor(variables.$secondary);
  }

  &__footer {
    position: relative;
    margin: -0.5rem;
    padding: .5rem;
    border-top: 1px solid helpers.borderColor();
    background: helpers.backgroundColor(variables.$secondary);
  }

  &__wrapper {
    scroll-padding-top: 4rem;
    position: fixed;
    z-index: 100;
    overflow: auto;
    padding: 4rem 1rem;
    inset: 0;
  }
}

[data-backdrop] {
  background-color: rgba(variables.$primary, .5);
}