@use "../../styles/helpers";
@use "../../styles/media";
@use "../../styles/box";
@use "../../styles/variables";
@use "sass:color";

.dialog {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;

  position: relative;
  padding: variables.$xl;
  margin: auto;
  overflow: auto;
  inset: auto;
  height: fit-content;
  max-height: none;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: rgba(variables.$primary, 0.75);
  }

  &__content {
    @include box.box(variables.$secondary);
    @include helpers.borderRadius();

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    display: grid;
    width: 100%;
    max-width: calc(100% - 2rem);
    gap: 1rem;
    transform: translate(-50%, -50%);
    padding: 1rem;

    @include media.respond-above(md) {
      width: 490px;
    }
  }

  &__title {
    @include helpers.fontStyle();
    font-weight: 600;
    font-size: variables.$lg;
    color: variables.$secondary;
    margin: 0;
  }

  &__description {
    @include helpers.fontStyle();
    font-size: variables.$sm;
    color: variables.$secondary;
    margin: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    @media (min-width: 640px) {
      text-align: left;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;

    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}