@use "../../styles/variables";
@use "../../styles/helpers";

.tab {

  &[data-orientation="vertical"] {
    display: flex;
  }

  &__list {
    display: flex;
    gap: variables.$xs;

    &[data-orientation="vertical"] {
      flex-direction: column;
    }
  }

  &__trigger {
    background: transparent;
    border: none;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    opacity: 0.5;
    transition: all ease-in-out 0.2s;

    &:after {
      content: "";
      position: absolute;
      background: transparent;
      background: helpers.backgroundColor(variables.$secondary);
    }

    &[data-orientation="vertical"] {

      &:after {
        border-bottom-right-radius: 50rem;
        border-top-right-radius: 50rem;
        height: 35%;
        width: 3px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    &[data-orientation="horizontal"] {
      &:after {
        border-top-left-radius: 50rem;
        border-top-right-radius: 50rem;
        width: 10%;
        min-width: 28px;
        height: 3px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &[aria-selected=true] {
      &[data-orientation="vertical"], &[data-orientation="horizontal"] {
        opacity: 1;

        &:after {
          background: variables.$info;
        }
      }
    }

  }

  &__content {

  }

}