@use "../../styles/variables";
@use "../../styles/helpers";

.tab {

  &[data-orientation="vertical"] {
    display: flex;
  }

  &[data-orientation="horizontal"] {
    padding-bottom: 0.475rem;
  }

  &__list {
    display: flex;
    gap: variables.$xs;

    &[data-orientation="horizontal"] {
      align-items: end;
    }

    &[data-orientation="vertical"] {
      flex-direction: column;
    }
  }

  &__trigger {
    background: transparent;
    border: none;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    opacity: 0.5;
    transition: all ease-in-out 0.2s;

    &[data-orientation="horizontal"] {
      &:after {
        content: "";
        position: absolute;
        background: transparent;

        border-top-left-radius: 50rem;
        border-top-right-radius: 50rem;
        width: 35%;
        min-width: 28px;
        height: 2px;
        bottom: -0.475rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &[aria-selected=true] {
      &[data-orientation="vertical"], &[data-orientation="horizontal"] {
        opacity: 1;

        &:after {
          background: variables.$info;
        }
      }
    }

  }

  &__content {

  }

}