@use "../src/styles/variables";

html {
  overscroll-behavior: none;
}

.sb-show-main {
  background: variables.$primary !important;
}

.sb-main-fullscreen {
  background: variables.$primary !important;
}