@use "../../styles/helpers";
@use "../../styles/variables";

.segmented-control {

  padding: variables.$xxs variables.$xxs;
  gap: variables.$xxs;
  display: flex;
  flex-wrap: nowrap;

  & {
    @include helpers.glassBoxTransparent(variables.$primary, variables.$primary, variables.$primary, false);
    @include helpers.borderRadius();
  }

  &__item {

    cursor: pointer;

    & {
      @include helpers.glassBoxWithoutShadowAndBorder();
      @include helpers.borderRadius();
    }

    &[data-state="off"] {
      background: transparent;
    }

  }

}