@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.segmented-control {

  padding: variables.$xxs / 2;
  gap: variables.$xxs;
  display: flex;
  flex-wrap: nowrap;

  & {
    @include box.box(variables.$secondary);
    @include helpers.borderRadius();
    border-width: 0;
  }

  &__item {

    cursor: pointer;
    padding: variables.$xxs variables.$xs;

    &[data-state="off"] {
      background: transparent;
      opacity: .6666666666;
    }

    & {
      @include box.box(variables.$secondary);
      @include helpers.disabled();
      background: helpers.backgroundColor(variables.$secondary, 2);
      border-radius: variables.$borderRadius - (variables.$xxs / 2);
      border: none;
    }

    &:disabled {
      background: transparent;
    }

    &:after {
      content: '';
      position: absolute;
      top: 25%;
      bottom: 0;
      right: -1 * (variables.$xxs / 2);
      height: 50%;
      width: 1px;
      background: helpers.borderColor();
    }

  }

}