@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.segmented-control {

  padding: variables.$xxs / 2;
  gap: variables.$xxs;
  display: flex;
  flex-wrap: nowrap;

  & {
    @include box.box(variables.$secondary);
    @include helpers.borderRadius();
    border-width: 0;
  }

  &__item {

    cursor: pointer;
    padding: variables.$xxs variables.$xs;

    &[data-state="off"] {
      background: transparent;
      opacity: .6666666666;
    }

    & {
      @include box.box(variables.$secondary);
      @include helpers.disabled();
      background: helpers.backgroundColor(variables.$secondary, 2);
      border-radius: variables.$borderRadius - (variables.$xxs / 2);
      box-shadow: none;
    }

    &:disabled {
      background: transparent;
    }

  }

}

@each $name, $color in variables.$colors {
  .segmented-control--#{$name} {
    @include box.box($color);
    border-width: 0;
  }
}