@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.segmented-control {

  padding: variables.$xxs variables.$xxs;
  gap: variables.$xxs;
  display: flex;
  flex-wrap: nowrap;

  & {
    @include box.box(variables.$primary, variables.$primary, variables.$primary);
    @include helpers.borderRadius();
  }

  &__item {

    cursor: pointer;
    padding: variables.$xxs variables.$xs;

    & {
      @include box.box();
      border-radius: variables.$borderRadius - variables.$xxs;
      border: none;
    }

    &[data-state="off"] {
      background: transparent;
      opacity: .6666666666;
    }

  }

}