@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.data-table {
  width: 100%;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-spacing: 0;

  &__row {
    td {
      border-bottom: 0.5px solid helpers.borderColor();
      border-top: 0.5px solid helpers.borderColor();
      padding: variables.$xs variables.$xxs;
    }

    &:hover {
      background: helpers.backgroundColor();
      cursor: pointer;
    }

    td:last-child {
      width: 1px;
      white-space: nowrap;
    }
  }

}
