.d-zoom-pan-pinch {
  width: 100% !important;
  height: 100% !important;
  background-image: radial-gradient(rgba(white, .25) 1px, transparent 0);
  background-size: 1rem 1rem;
  background-position: -19px -19px;
}