@use "../../styles/helpers";
@use "../../styles/variables";

.avatar {
  @include helpers.box(false);
  aspect-ratio: 50 / 50;
  padding: variables.$xxs;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &--image {
    padding: 0;
  }
}