@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.avatar {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;

  & {
    @include box.box();
    background: transparent;
    box-shadow: none;
  }

  &--image {
    padding: 0;
  }

  &--identicon {
    > div > div {
      --color: inherit;
      background: helpers.backgroundColor(variables.$tertiary);
    }

    > div > div > span, > div > div > p {
      color: var(--color)
    }
  }
}