@import "../../styles/helpers";

.tooltip {

  $color: $secondary;
  width: fit-content;

  &__trigger {
    width: fit-content;
    position: relative;

    > * {
      margin: 0 !important;
    }
  }

  &__trigger:hover + &__menu {
    display: block;
  }

  &__menu {
    @include box(false, $color);
    box-shadow: 0 0 2rem .5rem rgba($bodyBg, 1);

    position: fixed;
    top: 0;
    word-break: break-word;
    left: 0;
    display: none;
    z-index: 99999;
    padding: .5rem;

    &:hover {
      display: block;
    }

    &[data-position="left"] {
      &:before {
        position: absolute;
        content: "";
        top: 0;
        right: -.5rem;
        background: transparent;
        width: .5rem;
        height: 100%;
      }
    }

    &[data-position="right"] {
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: -.5rem;
        background: transparent;
        width: .5rem;
        height: 100%;
      }
    }

    &[data-position="bottom"] {
      &:before {
        position: absolute;
        content: "";
        top: -.5rem;
        left: 0;
        background: transparent;
        width: 100%;
        height: .5rem;
      }
    }

    &[data-position="top"] {
      &:before {
        position: absolute;
        content: "";
        bottom: calc(-.5rem - 1px);
        left: 0;
        background: transparent;
        width: calc(100% + 2px);
        height: .5rem;
      }
    }

  }

}