@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.tooltip {

  &__content {

    z-index: 999;
    padding: variables.$xxs variables.$xs;

    & {
      @include box.box(variables.$tertiary);
      @include helpers.fontStyle();
      @include helpers.borderRadius();
    }
  }

  &__arrow {
    fill: helpers.backgroundColor(variables.$tertiary);
  }

}

@each $name, $color in variables.$colors {

  .tooltip__content--#{$name} {
    & {
      @include box.box($color);
    }
  }
  .tooltip__arrow--#{$name} {
    fill: helpers.backgroundColor($color);
  }
}