@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.tooltip {

  &__content {

    z-index: 999;
    padding: variables.$xxs variables.$xs;

    & {
      @include box.box(variables.$tertiary);
      @include helpers.fontStyle();
      @include helpers.borderRadius();
      box-shadow: none;
    }
  }

  &__arrow {
    fill: helpers.backgroundColor(variables.$tertiary);
  }

}