@use "../../styles/helpers";
@use "../../styles/box";
@use "../../styles/variables";

.tooltip {

  &__content {

    z-index: 999;
    padding: variables.$xxs variables.$xs;

    & {
      @include box.box(variables.$secondary);
      @include helpers.fontStyle();
      @include helpers.borderRadius();
      box-shadow: none;
    }
  }

  &__arrow {
    stroke: helpers.borderColor(variables.$secondary);
    stroke-width: 2px;
    fill: helpers.backgroundColor(variables.$secondary);
  }

}