@use "../../styles/helpers";
@use "../../styles/variables";
@use "../../styles/box";

.button-group {
  width: fit-content;
  background: transparent;
  position: relative;
  display: flex;
  padding: variables.$xxs / 2;
  gap: variables.$xxs;

  & {
    @include box.box(variables.$secondary);
    @include helpers.borderRadius();
  }

  .button {
    display: inline-flex;
    height: 100%;
    border-radius: variables.$borderRadius - (variables.$xxs / 2);
  }

  &__first, &__item {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 25%;
      bottom: 0;
      right: -1 * (variables.$xxs / 2);
      height: 50%;
      width: 1px;
      background: helpers.borderColor();
    }
  }
}

@each $name, $color in variables.$colors {
  .button-group--#{$name} {
    @include box.box($color);
    border-width: 0;
  }
}