@use "../../styles/helpers";
@use "../../styles/variables";
@use "../../styles/box";

.button-group {
  border: none;
  width: fit-content;
  background: transparent;
  position: relative;
  display: flex;
  padding: variables.$xxs;
  gap: variables.$xxs;

  & {
    @include box.box(variables.$primary);
    @include helpers.borderRadius();
  }

  .button {
    display: inline-flex;
    height: 100%;
  }

}