@use "../../../../styles/variables";
@use "../../../../styles/box";

.function-card {
  &__handle {
    border: none !important;
    padding: 1px;
    z-index: -1;
    background: variables.$info !important;
  }
}