@use "../../../../styles/variables";
@use "../../../../styles/helpers";

.function-card {
  &__handle {
    border: none !important;
    padding: 1px;
    z-index: -1;
    background: helpers.borderColor(variables.$secondary) !important;
  }
}